<!doctype html>
<html class="mdc-typography">
<head>
    <title>Madeleine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#ffbf00"/>
    <meta charset="utf-8">
    <link rel="manifest" href="/assets/manifesto.json">
    <link rel="shortcut icon" href="/assest/joy.png"> 
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="node_modules/material-components-web/dist/material-components-web.css">
    <!-- for mobile friendly -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
<div class="container">