<% include head.ejs%>

    <div class="col-sm-6 col-sm-offset-3">
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form class='signup' action="/signup" method="post">
            <div class="group form-group">      
            <input style="background-color: #303030; width:80%; color:#d3d3d3; margin-left: 10%" type="text" name="email" required>
            <span class="highlight" style="width:80%; margin-left: 10%"></span>
            <span class="bar" style="width: 80%; margin-left: 10%"></span>
            <label style="margin-left: 10%">Email</label>
            </div>
            
            <div class="group">      
            <input style="background-color: #303030; width:80%; color:#d3d3d3; margin-left: 10%" type="password" name="password" required>
            <span class="highlight" style="width:80%; margin-left: 10%"></span>
            <span class="bar" style="width: 80%; margin-left: 10%"></span>
            <label style="margin-left: 10%">Password</label>
            </div>
            <button type="submit" class="btn btn-border color-1 material-design">Sign Up</button>
        </form>

        <hr>

        <p style="text-align: center; color: #d3d3d3; margin-top: 20%;">Already have an account? <a style="text-decoration:none; color: #2A6496;" href="/login">Login</a></p>

    </div>

<% include foot.ejs%>